@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Roboto", sans-serif;
}
body{
    background: #1c252c;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background: #1c252c;
}
header::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url("https://c4.wallpaperflare.com/wallpaper/704/716/941/programming-word-clouds-black-background-wallpaper-preview.jpg") no-repeat center center/cover;
    z-index: -1;
    opacity: 0.25;
}
nav ul{
    display: flex;
    justify-content: space-between;
}
nav ul li{
    list-style: none;
    padding: 0 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
header input{
    background: black;
    padding: 5px 20px;
    outline: none;
    border: none;
}
header input::placeholder{
    color: white;
}
header button{
    padding: 5px 20px;
    background: rgb(44, 44, 44);
    outline: none;
    border: none;
    cursor: pointer;
}
.main{
    display: grid;
    justify-content: column;
    grid-template-columns: repeat(4,1fr);
}
.course{
    background: rgba(0, 0, 0, 0.402);
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 1px solid white;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
}
.main img{
    width: 20vw;
}
.pic{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 20vw;
}
.details{
    margin:0 10px;
}
.link a{
    text-decoration: none;
    font-size: 18px;
    color: white;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}
.notFound{
    width: 80%;
    height: 50vh;
    position: absolute;
    top: 100px;
    font-size: 50px;
    margin: 0 30px;
    display: none;
}
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
      background-color: rgb(22, 22, 22);   /* color of the tracking area */
    }
    
    body::-webkit-scrollbar-thumb {
        border-radius: 20px;/* roundness of the scroll thumb */
        background: rgb(44, 44, 44);/* color of the scroll thumb */
}